<div class="sub_nav_wrapper">
<nav class="subnav">
  <a href="/">Back</a>
  <a class="home" href="/members/create">Create New Member</a>
</nav>
</div>

<div class="erb_wrapper">
  <div class="table_wrapper">
  <table>
    <thead>
      <caption>All Members</caption>
      <tr>
        <th> </th>
        <th>Name</th>
        <th>Premium</th>
        <th>Address Line 1</th>
        <th>Address Line 2</th>
        <th>Town</th>
        <th>District</th>
        <th>Post Code</th>
        <th>Telephone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <th><a href="/members/<%= member.id %>/get">edit</a></th>
          <td width="300px"><%= member.last_name.to_s + ", " + member.first_name.to_s %></td>
          <td width="50px"><input class="checkbox" type="checkbox" id="member<%= member.id %>" name="member<%= member.id %>" <%= ' checked ' if member.premium == 't' %> disabled></input></td>
          <td width="200px"><%= member.address_line_1 %></td>
          <td width="200px"><%= member.address_line_2 %></td>
          <td width="200px"><%= member.town %></td>
          <td width="200px"><%= member.district %></td>
          <td width="200px"><%= member.post_code %></td>
          <td width="200px"><%= member.telephone %></td>
          <td width="200px"><%= member.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
