<nav class="subnav">
  <a href="/">Back</a>
  <a class="home" href="/gymclasses/create">Create New Class</a>
</nav>

<div class="gymclasses_table">
  <table>
    <thead>
      <caption>All Classes</caption>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Schedules</th>
      </tr>
    </thead>
    <tbody>
      <% @gymclasses.each do |gymclass| %>
      <tr>
        <th><a href="/gymclasses/<%= gymclass.id %>/get">edit</a></th>
        <th><a href="/gymclasses/schedules/<%= gymclass.id %>">View Schedule</a></th>
        <td><%= gymclass.name%></td>
        <td><%= gymclass.description%></td>
        <td><%= gymclass.schedule.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
