<div class="sub_nav_wrapper">
  <nav class="subnav">
    <a class="home" href="/gymclasses/schedules/<%= @gymclass.id %>">Back</a>
  </nav>
</div>

<div class="erb_wrapper">
  <h1>Create <%=@gymclass.name %> Class Schedule</h1>
  <div class="input_wrapper">
    <form method="post" action="/gymclasses/schedule">
      <!-- <label for="gymclass_id">Gym Class ID:</label> -->
      <input type="text" name="gymclass_id" id="gymclass_id" value="<%= @gymclass.id %>" hidden/>

      <div class="input_row_wrapper">
        <label class="data_label" for="name">Class Name:</label>
        <input class="data_box" type="text" name="name" id="name" value="<%= @gymclass.name %>" disabled/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label" for="description">Class Description:</label>
        <input class="data_box" type="text" name="description" id="description" value="<%= @gymclass.description %>" disabled/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label" for="start_date">Start Date:</label>
        <input class="data_box" type="text" name="start_date" id="start_date" autofocus/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label" for="start_time">Start Time:</label>
        <input class="data_box" type="text" name="start_time" id="start_time"/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label" for="duration">Duration:</label>
        <input class="data_box" type="text" name="duration" id="duration"/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label" for="max_attendees">Max Attendees:</label>
        <input class="data_box" type="text" name="max_attendees" id="max_attendees"/>
      </div>
      <div class="button_wrapper">
        <input class="button" type="submit" value="Create"/>
      </div>
    </form>
  </div>
</div>
