 <h2>Update Schedule Details</h2>

 <nav>
   <ul>
     <li>
       <a href="/gymclasses/schedules/<%= @gymclass.id %>">Back</a>
     </li>
   </ul>
 </nav>
<div class="schedules">
  <form method="post" action="/gymclasses/schedule/<%= @schedule.id %>">
    <div class="schedule">
      <!-- <label for="gymclass_id">Gym Class ID:</label> -->
      <input type="text" name="gymclass_id" id="gymclass_id" value="<%= @schedule.gymclass_id %>" hidden/>
      <label for="name">Class Name:</label>
        <input type="text" name="name" id="name" value="<%= @gymclass.name %>" disabled/>
      <label for="description">Class Description:</label>
        <input type="text" name="description" id="description" value="<%= @gymclass.description %>" disabled/>
      <label for="start_date">Start Date:</label>
        <input type="text" name="start_date" id="start_date" value="<%= @schedule.start_date %>"/>
      <label for="start_time">Start Time:</label>
        <input type="text" name="start_time" id="start_time" value="<%= @schedule.start_time %>"/>
      <label for="duration">Duration:</label>
        <input type="text" name="duration" id="duration" value="<%= @schedule.duration %>"/>
      <label for="maxt_attendees">Max Attendees:</label>
        <input type="text" name="max_attendees" id="max_attendees" value="<%= @schedule.max_attendees %>"/>
    </div>
    <input type="submit" value="Update schedule"/>
  </form>
  <form method="post" action="/gymclasses/schedule/<%= @schedule.id %>/delete">
    <input type="submit" value="Delete schedule"/>
  </form>
</div>
