<div class="sub_nav_wrapper">
  <nav class="subnav">
    <a class="home" href="/gymclasses/schedules/<%= @gymclass.id %>">Back</a>
  </nav>
</div>

<div class="erb_wrapper">
  <h1>Update Schedule Details</h1>
  <div class="input_wrapper">
    <form method="post" action="/gymclasses/schedule/<%= @schedule.id %>">
        <!-- <label for="gymclass_id">Gym Class ID:</label> -->
        <input type="text" name="gymclass_id" id="gymclass_id" value="<%= @schedule.gymclass_id %>" hidden/>
      <div class="input_row_wrapper">
        <label class="data_label"  for="name">Class Name:</label>
        <input class="data_box" type="text" name="name" id="name" value="<%= @gymclass.name %>" disabled/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label"  for="description">Class Description:</label>
        <input class="data_box" type="text" name="description" id="description" value="<%= @gymclass.description %>" disabled/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label"  for="start_date">Start Date:</label>
        <input class="data_box" type="text" name="start_date" id="start_date" value="<%= @schedule.start_date %>" autofocus/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label"  for="start_time">Start Time:</label>
        <input class="data_box" type="text" name="start_time" id="start_time" value="<%= @schedule.start_time %>"/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label"  for="duration">Duration:</label>
        <input class="data_box" type="text" name="duration" id="duration" value="<%= @schedule.duration %>"/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label"  for="maxt_attendees">Max Attendees:</label>
        <input class="data_box" type="text" name="max_attendees" id="max_attendees" value="<%= @schedule.max_attendees %>"/>
      </div>
      <div class="input_row_wrapper">
        <div class="button2_wrapper_left">
          <input class="button" type="submit" value="Update schedule"/>
        </div>

      </form>
      <form method="post" action="/gymclasses/schedule/<%= @schedule.id %>/delete">
        <div class="button2_wrapper_right">
          <input type="submit" value="Delete schedule"/>
        </div>
      </div>
    </form>
  </div>
</div>
