<div class="gymclasses_table">
<nav>

  <nav>
    <ul>
      <li>
          <a href="/gymclasses">Back</a>
      </li>
      <li>
          <a href="/gymclasses/schedule/<%= @gymclass.id %>/create">Create New Schedule</a>
      </li>
    </ul>
  </nav>
  <table>
    <thead>
      <caption><h2>Class Schedule for <%= @gymclass.name %></h2></caption>
      <tr>
      <th> </th>
      <th> </th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Max Attendees</th>
      <th>Bookings</th>
    </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <th><a href="/gymclasses/schedule/<%= schedule['id'] %>/edit">edit</a></th>
          <th><a href="/gymclasses/bookings/<%= schedule['id'] %>">Mange Bookings</a></th>
          <td><%= schedule['start_date'] %></td>
          <td><%= schedule['start_time'] %></td>
          <td><%= schedule['duration'] %></td>
          <td><%= schedule['max_attendees'] %></td>
          <td><%= schedule['attendees_booked'] >= schedule['max_attendees'] ? "FULL" : schedule['attendees_booked']%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
