<div class="sub_nav_wrapper">
  <nav class="subnav">
    <a class="home" href="/gymclasses/schedules/<%=@schedule.gymclass_id%>">Back</a>
    <a href="/gymclasses/bookings/<%=@schedule.id%>/create-from-schedule" <%= "hidden" if @bookings.count >= @schedule.max_attendees %>>Create New Booking</a>
  </nav>
</div>

<div class="erb_wrapper">
  <div class="bookings_table">
    <table>
      <thead>
        <caption>Class Bookings</caption>
        <tr>
          <th></th>
          <th>Class Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Member Name</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
        <tr>
          <th>
            <form method="post" action="/gymclasses/bookings/<%= booking['id'] %>/delete">
              <input type="submit" value="delete"/>
            </form>
          </th>
          <td width=200px><%= booking['name'] %></td>
          <td width=150px><%= booking['start_date']%></td>
          <td width=130px><%= booking['start_time']%></td>
          <td width=100px><%= booking['duration']%></td>
          <td width=250px><%= booking['last_name'] + ", " + booking['first_name']%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
