<div class="bookings_table">
<nav>

  <nav>
    <ul>
      <li>
        <a href="/gymclasses/schedules/<%=@schedule.gymclass_id%>">Back</a>
      </li>
      <li>
          <a href="/gymclasses/bookings/create">Create New Booking</a>
      </li>
    </ul>
  </nav>
  <table>
    <thead>
      <caption><h2>Class Bookings</h2></caption>

      <tr>
      <th></th>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <th>
            <form method="post" action="/gymclasses/bookings/<%= @schedule.id %>/delete">
              <input type="submit" value="delete"/>
            </form>
          </th>
          <td><%= booking['name'] %></td>
          <td><%= booking['start_date']%></td>
          <td><%= booking['start_time']%></td>
          <td><%= booking['duration']%></td>
          <td><%= booking['first_name']%></td>
          <td><%= booking['last_name']%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
